
<div>
    <h1> Bienvenidos a la pagina de Ironhack </h1>
    <p> Tenemos los mejores videojuegos del mundo, tanto que Microsoft nos lo quiere comprar </p>
    <p> El nombre del LT es: {{teacher}}</p>
    <!-- teacher es el parametro que está en el fichero server.js -->
</div>

